		<footer style="margin-top: 2em">
			<small>
			<p>COPYRIGHT © 2019 TECNOLÓGICO DE ANTIOQUIA. TODOS LOS DERECHOS RESERVADOS.<br>
		<b>DIRECCIÓN:</b> CALLE 78B NO. 72A - 220 MEDELLÍN - COLOMBIA - SURAMÉRICA  <b>HORARIO DE ATENCIÓN AL PÚBLICO</b> 7:30 A.M. A 12:00 M. Y  DE 1:00 P.M. A 5:30 P.M. DE LUNES A JUEVES, LOS VIERNES DE 7:30 A.M. A 12:00 M. Y 1:00 P.M. A 4:30 P.M. <b>COPACABANA:</b> CARRERA 50 N°50A - 59 <b>ITAGUÍ:</b> INSTITUCIÓN EDUCATIVA SIMÓN BOLÍVAR CALLE 65 N° 46A - 95  TELÉFONO PBX: (574) 444 37 00<br>
		<b>ATENCIÓN AL USUARIO:</b> ATENCIONALCLIENTE@TDEA.EDU.CO </p> 
		 </small>
		</footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
