  
{{>header}}
<div class="container">
  <h2>Bienvenido a mi sitio</h2>
  <br>
  <p>Ingrese sus datos en el siguiente formulario</p>
  <form action="/calculos" method="post">
    <div class="form-group">
      <label >Nombre</label>
      <input type="text"  class="form-control"  name="nombre" placeholder="Nombre de usuario" required><br>
      <div class="row">
        <div class="col">
         <label >Nota 1</label>
         <input type="number" class="form-control" name="matematicas" placeholder="Nota 1" required> 
       </div>
       <div class="col">
         <label >Nota 2</label>
         <input type="number" class="form-control" name="ingles" placeholder="Nota 2" required>
       </div>
       <div class="col">
         <label >Nota 3</label>
         <input type="number" class="form-control" name="programacion" placeholder="Nota 3" required>
       </div>
     </div>
     <br>
     <button class="btn btn-dark">Registrar</button>
   </div>
 </form>	
</div>
  {{>footer}}
  