{{>header}}

<h1>Inscribir a un curso</h1>


<form action="/agregar-usuario-curso" method="post">
  <div class="form-row">
    <div class="col">
      <input type="text" required="required" class="form-control" name="documento" placeholder="Documento de identidad">
    </div>
    <div class="col">
      <input type="text" required="required" class="form-control" name="correo" placeholder="Correo electrónico">
    </div>
  </div>

  <div class="form-row my-2">
    <div class="col">
      <input type="text" required="required" class="form-control" name="nombre" placeholder="Nombre Completo">
    </div>
    <div class="col">
      <input type="text" required="required" class="form-control" name="telefono" placeholder="Telefono">
    </div>
  </div>

  <input type="hidden" name="rol" value="aspirante">

  <div class="form-row my-2 ">
    <div class="col">
      <select name="curso" id="" class="form-control" required="required">
          <option value="">Seleccione curso</option>
        {{#each cursosDisponibles}}
          <option value="{{id}}">{{nombre}}</option>          
        {{/each}}
      </select>
    </div>    
  </div>

  
  <div class="form-group">
    <button type="submit" class="btn btn-dark">ENVIAR</button>
  </div>
  
</form>


{{>footer}}